DEBUG=True
SECRET_KEY=django-insecure-your-secret-key-here
DATABASE_URL=postgres://user:password@localhost:5432/dbname
ALLOWED_HOSTS=localhost,127.0.0.1,yourdomain.com
PORT=8000
WEB_CONCURRENCY=3
GUNICORN_THREADS=2
CSRF_TRUSTED_ORIGINS=http://localhost:8000,https://yourdomain.com


# Google OAuth2 Settings
GOOGLE_OAUTH2_KEY=your-google-client-id
GOOGLE_OAUTH2_SECRET=your-google-client-secret

# Supabase Storage Settings (Set USE_SUPABASE_STORAGE=True to enable cloud S3 storage with service_role key)
USE_SUPABASE_STORAGE=False
SUPABASE_URL=your-supabase-project-url
SUPABASE_KEY=your-supabase-service-role-key
SUPABASE_STORAGE_BUCKET_NAME=mcsc-media

# Email settings for notifications
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-email-password
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=MCSC Portal <your-email@gmail.com>
